:root {
  --main-background: #314055
}

.mark {
  font-weight: 900;
  color: #0d47a1;
}

ol {
  padding: 0 30px;
}

ol li {
  list-style-type: decimal;
}

img {
  width: 100%;
}

h1 {
  color: var(--main-background);
}
